# Excludes because of data protection
data/fragdenstaat_messages_raw.json
data/yelp_academic_dataset_review.json
data/combined_reviews.csv
GerVADER/

# Jupyter Notebook
.ipynb_checkpoints

# Cache Files
src/__pycache__/*
